.bannerDestino{
    display: grid;
    place-items: center;
    height: 50vh;
    background-image: linear-gradient(to right, #0a0a9d40,rgba(0, 0, 0, 0.500),#0B0A9D40), url(../assets/img/banner/bannerdest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tarjetaCarrusel{
    background-color: #d5d5d524;
    border: 1px solid rgba(220, 220, 220, 0.223);
    border-radius: 15px;
    padding: 5px;
    width: 75%;
    margin: 15px auto;
    .imgCarrusel{
        object-fit: cover; 
        border-radius: 15px;
        max-height: 525px;
    }
}
@media screen and (max-width:750px){
    .bannerDestino{
        background-position: center;
    }
    .tarjetaCarrusel{
        width: 85%;
        .imgCarrusel{
            max-height: 230px;
        }
    }

}