$font-cairo: 'Cairo';
$tamanio-fuente-cairo: 700;
$font-palanquin: 'Palanquin';
$tamanio-fuente-palanquin: 500;

$mapa-colores: (
    color-blanco: #fafafa,
    color-ayuda: rgb(208, 144, 67),
    color-negro: black
)